<% provide(:titulo, "Principal")%>
<div class="center jumbotron">
   <h1>Bem-vindo ao Microblog App</h1>

   <h2>
      Esta e a pagina principal da aplicacao desenvolvida durante
      o curso de Construcao de Aplicacoes Web com Ruby on Rails.
   </h2>

   <%= link_to "Registrar-se", "#", class: "btn btn-lg btn-primary" %>
<div>
