<!DOCTYPE html>
<html>
   <head>
      <title>Sobre | Microblog App</title>
   </head>
   <body>
      <h1>Sobre</h1>
      <p>
         Esta e a pagina sobre da aplicação Microblog desenvolvida durante
         o curso de Construcao de Aplicacoes Web com Ruby on Rails.
      </p>
   </body>
</html>

